body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    overflow: hidden;
}

.cabecalho
{
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;    

}

.menu
{
    width: 30px;
    height: 2.5px;
    border-radius: 15px;
    background-color: white;
    margin: 5px 0;
}

.menu_conta
{
    width: 100%;
    height: 290px;
}

.lateral
{
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-right:1px outset black ;

    
  
}
.lateral
{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: absolute;
    left: -285px;
    z-index: 3000;

    
   
}
.animar
{
    animation: deslizar 2s forwards;
}
@keyframes deslizar
{
    0%{left:-285px;}    
    100%{left:0px;} 
}

.esconder
{
    animation: deslizar3 2s forwards;
}
@keyframes deslizar3
{
    0%{left:0;}    
    100%{left:-285px;} 
}

.fechar
{
    margin-top: 15px;
    margin-left: 210px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;

}

.rodape
{
    height: 25px;
    width: 100%;
    background-color: #c0c0c094;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-size: 10px;
    color: #33333394;
}


.rodape2
{
    font-size: 18px;

    color: #333333;
}

.foto_conta
{
    width: 200px;
    height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.imagem_conta
{
    width: 160px;
    height: 160px;
    border-radius: 50%;

}

.nome_imagem
{
    font-size: 25px;
    color: #33333394;
    text-align: center;
}

.organizar
{
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: column;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.caixasenha
{
    width: 220px;
    height: 22px;
    background-color: white;
    border: #33333394 solid 0.3px;
    border-radius: 3px;
    
}

.login
{
    font-size: 17px;
    color: #33333394;
    text-align: left; 
}

.entrar
{
    width: 260px;
    height: 35px;
    background-color: red;
    font-size: 17px;
    border: #33333394 outset 0.3px;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.327);
    
}

.nome_texto
{
    text-align: center;
    font-size: 18px;
    margin-top: 22px;
}

.nome_texto1
{
    text-align: center;
    font-size: 16px;
    margin-top: 0px;
}

.divp3
{
    display: flex;
    flex-direction: column;
    justify-content: column;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-top: 9px;
    font-size: 18px;
    color: black;
}

/* Estilo para a div de fundo invisível */
.error-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 999; /* Coloca a div acima de outros elementos */
}

/* Estilo para a mensagem de erro */
.error-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Coloca a mensagem acima da div de fundo */
}

.logout-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c0392b;
  }
  
  #formimagem
  {
    visibility: hidden;
  }
  
















  .lateral2
  {
      
      position: fixed;
      right: -245px;
      top: 100px;
      width: 385px;
      height: 100%;
      background-color: white;
      text-align: center;
      border-bottom:1px outset black ;
      border-left:1px outset black ;
    z-index: 3000;
      
    
  }
  .lateral2
  {
    height: 400px;  
    width: 240px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      position: absolute;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.327);
      background-size: 100%;
      background-image: #c0c0c094;
      opacity: 0.8;
    }

      
          
         
      




































      
     
  
  .animar2
  {
      animation: deslizar2 1s forwards;
  }
  @keyframes deslizar2
  {
      0%{right:-385px;}    
      100%{right:0px;opacity: 1;} 
  }

  .animar3
  {
      animation: deslizar3 1s forwards;
  }
  @keyframes deslizar3
  {
      0%{right:0px;opacity: 1;}    
      99%{right:-385px;opacity: 0;} 
      100%{display: none;} 
  }
  
  .fechar2
  {
      margin-top: 15px;
      margin-left: 210px;
      border-radius: 20px;
      font-size: 18px;
      display: flex;
  
  }

  .fechar2
{
    margin-top: 365px;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    position: fixed;

}

.mensagem
{
    text-align: center;
    size: 8px;
    text-decoration: none;
    color: #33333394;
    text-align: center;
    
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;    
    
}

a{
    text-decoration: none;
}

.titulo
{
    color: black;
    text-align: center;
    size: 7px;
    height: 10px;
}

.titulo_inicio
{
    text-align: center;
    color: #33333394;
    font-family: Arial, Helvetica, sans-serif;    
}










  
.footer-slide {
   display: flex;
   height: 240px;
   width: 340px;
  }
  
  .footer-slide img {
    height: 240px;
    width: 340px;
  }
  
  .visible
  {
    opacity: 0;
  }













  .Caixa
  {
    width: 95%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: whitesmoke;
    
  }

  .titulonoticia
  {
    width: 320px;
    height: 26px;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    color: #33333394;

    font-family: Arial, Helvetica, sans-serif;    

  }

  .Subti
  {
    width: 320px;
    height: 60px;
    color: black;
    text-align: center;
    size: 7px;
    margin-top: 10px;
    text-decoration: none;
    color: #33333394;
    font-family: Arial, Helvetica, sans-serif;    
  
    
  }

  .foto
  {
    width: 320px;
    height: 179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }