body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: rgb(238, 238, 238);
}

.campo
{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.cabecalho
{
    width: 100%;
    height: 100px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;    

}

.menu
{
    width: 30px;
    height: 2.5px;
    border-radius: 15px;
    background-color: white;
    margin: 5px 0;
    z-index: 1000;
}

.menu_conta
{
    width: 100%;
    height: 290px;
}

.lateral
{
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-right:1px outset black ;
    z-index: 2;

    
  
}
.lateral
{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: absolute;
    left: -285px;
    z-index: 2;
   
}
.animar
{
    animation: deslizar 2s forwards;
}
@keyframes deslizar
{
    0%{left:-285px;}    
    100%{left:0px;} 
}

.fechar
{
    margin-top: 15px;
    margin-left: 210px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;

}

.escalacao
{
    margin-top: 40px;
    margin-left: 20px;
}

.SUAESCALAÇÃO
{
    font-size: 26px;
    letter-spacing: -0.2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

hr
{
    width: 330px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carteira
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.carteira_valor
{
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.5px;
}

.carteira_saldo
{
    font-size: 14px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.5px;
}

.divisao
{
    width: 20px;
    height: 10px;
}

.bancotexto
{
    margin-left: 20px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.banco
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.botao-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(173, 173, 173);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


  .gol
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: rgb(105, 105, 105);
  }

  .zag
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: rgb(105, 105, 105);
  }

  .lat
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: rgb(105, 105, 105);
  }

  .mei
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: rgb(105, 105, 105);
  }

  .ata
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: rgb(105, 105, 105);
  }
  
  .espaco
  {
    height: 5px;
  }

.atacante
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 65px;
    top: 250px;
    z-index: 1;

}

.meiocampo
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 65px;
    top: 330px;

}

.zagueiro
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50px;
    top: 410px;
}

.goleiro
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 155px;
    top: 480px;

}

.botao-atacante {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgb(255, 255, 255);
    box-shadow: 100px;
    background-color: RGB(38, 202, 94);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent; /* Define a borda inicial transparente */
  }

  .teste
  {
    background-color: aquamarine;
    width: 20px;
    height: 20px;
  }

  .transparente{
    width: 40px;
    height: 10px;
  }


  .transparente1{
    width: 20px;
    height: 10px;
  }

  .fotomercado
  {
    border-radius: 50%;
  }
  
  .tudo
  {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 330px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  }

  .fild
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    justify-content: center;
    margin-left: 10px;
  }

  .nome
  {
    margin-left: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .posicao
  {
    margin-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(161, 161, 161);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .precos
  {

    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  }

  .jogador
  {
    width: 200px
  }

  .jogadoresmercado

  {
    margin-left: 15px;
  }

  .preco
  {
    font-weight: bolder;
  }

  .info
  {
    display: flex;
    flex-direction: row;
  }

  .comprar
  {
    background-color: #26ca5e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 40px;
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .botao-comprar {
    background-color: #26ca5e;
    color: white;
    box-shadow: 0px 3px 0px rgb(0, 97, 16);
}

.botao-vender {
    background-color: red;
    color: white;
    box-shadow: 0px 3px 0px rgb(78, 0, 0);
}
